 /* .custom-skin .main-sidebar, custom-skin .left-side {
    background-color: #6d160f;
}

 .custom-skin .main-header .logo {
     background-color: #5e6366;
     color: #fff;
     border-bottom: 0 solid transparent;
 }
 .custom-skin .main-header .navbar {
     background-color: #5e6366;
     color: #fff;
 }
 .custom-skin .user-panel > .info, .custom-skin .user-panel > .info > a {
     color: #fff;
 }
 .custom-skin .main-header .navbar .sidebar-toggle {
     color: #fff;
 }
 .custom-skin .main-header .navbar .nav > li > a {
     color: #fff;
 }
 .custom-skin .sidebar a {
     color: #b8c7ce;
 }
 .custom-skin .main-header li.user-header {
     background-color: #5e6366;
 }
 .margin_unset{
     margin: unset !important;
 } */